@import 'normalize.css/normalize.css';
@import '../settings';
@import '../mixins';
@import 'flex-grid';

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: $body-background;
  font-family: $body-font-family;
  font-weight: 400;
  line-height: $global-lineheight;
  color: $body-color !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  outline: none;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(#cecece, 0.5);
  margin: 1rem 0;
}

/* --------------
- Typography
----------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-color;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  line-height: $header-lineheight;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-weight: 600;
}
h2 {
  font-weight: 700;
}

h6 {
  font-weight: 500;
}

$headers-map: (
  'h1': $header-h1-fontsize,
  'h2': $header-h2-fontsize,
  'h3': $header-h3-fontsize,
  'h4': $header-h4-fontsize,
  'h5': $header-h5-fontsize,
  'h6': $header-h6-fontsize,
);

@include large {
  @each $header, $style in $headers-map {
    #{$header},
    .#{$header} {
      font-size: map-get($style, 'large') / 16 * 1rem;
    }
  }
}
@include medium-only {
  @each $header, $style in $headers-map {
    #{$header},
    .#{$header} {
      font-size: map-get($style, 'medium') / 16 * 1rem;
    }
  }
}
@include small-only {
  @each $header, $style in $headers-map {
    #{$header},
    .#{$header} {
      font-size: map-get($style, 'small') / 16 * 1rem;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0;
  color: $body-color;
  line-height: $global-lineheight;

  a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }
}

/* --------------
- Layout
----------------- */
.main-wrapper {
  min-height: calc(100vh - 35rem);
}
body {
  padding: rem-calc(136.5) 0;
}
.page-row {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;

  & + .page-row {
    padding-top: 1rem;
  }
}

.middle-layout {
  max-width: rem-calc(680);
}

.content-wrapper {
  background-color: $light-gray;
  border-radius: $global-radius;
  padding: 2rem 2.25rem;
  @include medium-down {
    padding: 1.25rem;
  }
}

@include small-only {
  .page-row {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}

/* --------------
- Inputs
----------------- */
input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='email'],
textarea {
  display: block;
  width: 100%;
  border-radius: 2px;
  background-color: $white;
  color: $body-color;
  padding: rem-calc(15) 1.25rem;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.75;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

textarea {
  resize: vertical;
}

::placeholder {
  color: $dark-gray;
}
