@import '../../../styles/settings';
@import '../../../styles/mixins';

.select {
  display: block;
  width: 100%;
  padding: 0.625rem 1rem !important;
  border: 1px solid rgba($black, 0.2);
  border-radius: 6px !important;
  color: $medium-gray;
}

:global(.css-yk16xz-control) {
  padding: 0.12rem !important;
  border-radius: 6px !important;

}

.is-placeholder {
  color: $light-gray;
}

.textAr{
  textarea {
    border: 1px solid rgba($black, 0.2) !important;
    border-radius: 6px !important;
  }
}

.file {
  display: block;
  margin-bottom: 1.5rem;
}

.photo {
  border-radius: $global-radius;
  width: rem-calc(200);
  height: rem-calc(200);
  object-fit: cover;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.submit {
  margin-top: 2rem;
  float: right;
  padding: 0.8rem 6rem !important;
  font-size: rem-calc(18);
}